@import url("https://fonts.googleapis.com/css2?family=Playwrite+CZ&display=swap");

.dayFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  /* background-color: aqua; */
}

.tableContainer {
  max-width: 100%;
  max-height: 42vh; /* 최대 높이 설정 */
  overflow-x: auto; /* 가로 스크롤 활성화 */
  overflow-y: auto; /* 수직 스크롤 활성화 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
  border-radius: 0.5rem; /* 모서리 둥글게 설정 */
  background-color: #ffffff; /* 배경색 흰색 */
}

table {
  /* width: 100%; */
  border-collapse: collapse; /* 테두리 겹침 설정 */
}

thead {
  background-color: #f8f9fa; /* 헤더 배경색 */
  color: #495057; /* 헤더 글자 색상 */
}

thead th {
  padding: 0.75rem 1.5rem; /* 패딩 설정 */
  font-size: 0.75rem; /* 글자 크기 설정 */
  text-align: left; /* 왼쪽 정렬 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

tbody tr:nth-child(odd) {
  background-color: #ffffff; /* 홀수 행 배경색 */
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa; /* 짝수 행 배경색 */
}

tbody tr {
  border-bottom: 1px solid #dee2e6; /* 하단 테두리 설정 */
}

tbody th,
tbody td {
  padding: 0.75rem 1rem; /* 패딩 설정 */
  font-size: 0.875rem; /* 글자 크기 설정 */
  color: #495057; /* 글자 색상 설정 */
  /* min-width: 100px;  */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.tableContainer td.noPadding {
  padding-left: 0;
  padding-right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.updateForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* 다른 요소 위에 위치하도록 설정 */
  max-width: 400px; /* 최대 너비 설정 */
  width: 100%; /* 너비를 100%로 설정하여 반응형 디자인 지원 */
}

.updateForm label {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.updateForm input {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  color: #333;
  font-size: 14px;
}

.updateForm button {
  padding: 10px 20px;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.updateForm button:hover {
  background-color: #2563eb;
}

.updateForm .flex {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.updateForm .flex input {
  width: auto;
  margin-right: 10px;
}

.ProgressBarContainer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 10%;
}
