* {
  box-sizing: border-box;
}

.frameBody {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBody {
  width: 32vw;
  height: 100vh;
  /* border: 5px solid black;
  background-color: aqua; */
}
