.searchBox{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center align all items */
    max-width: 900px;
}

.formContainer {
    width: 27vw; 
    margin: 20vh auto 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align all items */
}

.srOnly {
    position: relative;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.inputContainer {
    position: relative;
}

.iconContainer {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    pointer-events: none;
}

.icon {
    width: 1rem;
    height: 1rem;
    color: #6B7280; /* gray-500 */
}

.searchInput {
    display: block;
    width: 100%; /* Ensure it takes full width of the container */
    max-width: 900px;
    padding: 1rem 8rem 1rem 3rem;
    font-size: 0.875rem; /* text-sm */
    color: #1F2937; /* gray-900 */
    border: 1px solid #D1D5DB; /* gray-300 */
    border-radius: 0.5rem; /* rounded-lg */
    background-color: #F9FAFB; /* gray-50 */
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.searchInput:focus {
    border-color: #3B82F6; /* blue-500 */
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5); /* blue-500 */
}

.searchButton {
    background-color: #1D4ED8; /* blue-700 */
    color: #FFFFFF; /* white */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    padding: 0.5rem 1rem;
    border-radius: 0.875rem; /* rounded-lg */
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #1E40AF; /* blue-800 */
}

.searchButton:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3); /* blue-300 */
}

.relativeGroup {
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.inputField {
    padding: 2.5px 0px 10px;
    width: 70%;
    font-size: 1rem; /* text-sm */
    color: #1F2937; /* gray-900 */
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #D1D5DB; /* gray-300 */
    appearance: none;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    margin: 0 auto; /* Center align the input */
}

.inputField:focus {
    border-color: #3B82F6; /* blue-500 */
}

.label {
    position:absolute;
    font-size: 0.85rem; /* text-sm */
    color: #6B7280; /* gray-500 */
    top: -1.4rem;
    left: 19%;
    transform: translateX(-50%);
    z-index: -10;
    transform-origin: 0;
    transition: all 0.2s;
}

.inputField:placeholder-shown + .label {
    transform: translateX(-50%) translateY(0) scale(1);
}

.inputField:focus + .label {
    color: #3B82F6; /* blue-500 */
}

.gridGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-content: center; /* Center align the grid */
}

.submitButton {
    bottom: 5vh;
    color: #FFFFFF; /* text-white */
    background-color: #1D4ED8; /* blue-700 */
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    border-radius: 0.875rem; /* rounded-lg */
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: flex-end; /* Align the submit button to the end (right) */
}

.submitButton:hover {
    background-color: #1E40AF; /* blue-800 */
}

.submitButton:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3); /* blue-300 */
}
