.searchBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formWrapper {
    width: 27vw; 
    margin: 20vh auto 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.formBox {
    width: 27vw; 
    margin: 20vh auto 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.srOnly {
    position: relative;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.inputContainer {
    position: relative;
}

.iconContainer {
    position: absolute;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    pointer-events: none;
}

.icon {
    width: 1rem;
    height: 1rem;
    color: #6B7280;
}
.searchBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.searchInput {
    display: block;
    width: 100%;
    padding: 1rem 2rem 1rem 3.7rem;
    font-size: 0.875rem;
    color: #1F2937;
    border: 1px solid #D1D5DB;
    border-radius: 0.5rem;
    background-color: #F9FAFB;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.searchInput:focus {
    border-color: #3B82F6;
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.searchButton {
    position: absolute;
    /* right: -16.5rem; */
    bottom: 0.5rem;
    background-color: #1D4ED8;
    color: #FFFFFF;
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.875rem;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #1E40AF;
}

.searchButton:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}

.relativeGroup {
    position: relative;
    z-index: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.inputField {
    padding: 2.5px 0px 10px;
    width: 100%;
    font-size: 1rem;
    color: #1F2937;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #D1D5DB;
    appearance: none;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.inputField:focus {
    border-color: #3B82F6;
}

.label {
    position: absolute;
    font-size: 0.85rem;
    color: #6B7280;
    top: -1.4rem;
    left: 0;
    transform: translateX(0);
    z-index: -10;
    transform-origin: 0;
    transition: all 0.2s;
}

.inputField:placeholder-shown + .label {
    transform: translateX(0) translateY(0) scale(1);
}

.inputField:focus + .label {
    color: #3B82F6;
}

.gridGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    justify-content: center;
}

.submitButton {
    position: relative;
    bottom: 3vh;
    color: #FFFFFF;
    background-color: #1D4ED8;
    font-size: 0.875rem;
    font-weight: 500;
    border-radius: 0.875rem;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
    align-self: flex-end;
}

.submitButton:hover {
    background-color: #1E40AF;
}

.submitButton:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}
