/* 배경색 및 기본 색상 설정 */
.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: 100%; /* 컨테이너의 높이를 100%로 설정 */
  padding: 1rem; /* 내용물과 테두리 사이에 여백 추가 */
}
.loginSection {
  background-color: #f9fafb; /* bg-gray-50 */
  color: #111827; /* text-gray-900 */
  padding: 2rem;
}


.loginLogo {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.logoImage {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}


.formContent {
  padding: 1.5rem;
}

.formTitle {
  font-size: 1.25rem; /* text-xl */
  font-weight: 700; /* font-bold */
  margin-bottom: 1.5rem;
}

.formform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%; /* 최대 너비를 100%로 제한 */
  width: 96%; /* 너비를 100%로 설정 */
  max-height: 100%;
  height: 96%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  gap: 0.2rem; /* space-y-4 */
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 0.2rem; /* 줄어든 세로 간격 */
}

.formLabel {
  font-size: 0.84rem; /* text-sm */
  font-weight: 500; /* font-medium */
}

.formInput {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  padding: 0.4rem; /* 패딩 줄임 */
  width: 100%;
  font-size: 0.9rem; /* 폰트 크기 줄임 */
}

.formOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rememberMe {
  display: flex;
  align-items: center;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 1px solid #d1d5db; /* border-gray-300 */
  border-radius: 0.25rem; /* rounded */
  background-color: #f9fafb; /* bg-gray-50 */
  margin-right: 0.75rem;
}

.rememberLabel {
  font-size: 0.875rem; /* text-sm */
  color: #6b7280; /* text-gray-500 */
}

.forgotPassword {
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: #3b82f6; /* text-primary-600 */
  text-decoration: underline;
}

.submitButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3b82f6; /* bg-primary-600 */
  color: #ffffff; /* text-white */
  border: none;
  border-radius: 0.5rem; /* rounded-lg */
  padding: 0.625rem 1.25rem;
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  width: 100%;
  cursor: pointer;
  margin-top: 1rem; /* 상단 마진 줄임 */
  margin-bottom: 1rem; /* 하단 마진 추가 */
}

.submitButton:hover {
  background-color: #2563eb; /* hover:bg-primary-700 */
}

.signupLink {
  font-size: 0.875rem; /* text-sm */
  color: #6b7280; /* text-gray-500 */
}

.signupLinkText {
  font-weight: 500; /* font-medium */
  color: #3b82f6; /* text-primary-600 */
  text-decoration: underline;
}

.formGroupRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0rem; /* 줄어든 세로 간격 */
}

.formGroupHalf {
  flex: 1;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem; /* 줄어든 세로 간격 */
}

.formGroupHalf:last-child {
  margin-right: 0;
}
