/* index.css */

/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playwrite+CZ:wght@100..400&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.logo {
  font-family: "Playwrite CZ", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  overflow: hidden; /* Hide scrollbar, but no overflow */
}

#root {
  width: 100%; /* Ensure full width */
  max-width: 467px; /* Max width for responsiveness */
  height: 100vh;
  border: 5px solid black;
  position: relative;
  border-radius: 36px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow: hidden; /* Ensure overflow is hidden for root */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
#root::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Hide scrollbar for IE, Edge, and Firefox */
#root {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.frameBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; /* Ensure it takes full height of the viewport */
  overflow-y: auto; /* Ensure scrolling for frameBox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.frameBox::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Hide scrollbar for IE, Edge, and Firefox */
.frameBox {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.contentBox {
  width: 90%;
  padding-top: 3vh;
  display: flex;
  flex-direction: column; /* Ensure column layout */
  justify-content: flex-start; /* Align content at the top */
  flex-grow: 1; /* Allow the content box to grow */
}
