/*로고*/
@import url("https://fonts.googleapis.com/css2?family=Playwrite+CZ:wght@100..400&display=swap");
/*Noto Sans KR*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Playwrite+CZ:wght@100..400&display=swap");

* {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
}

.logo {
  font-family: "Playwrite CZ", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  overflow-y: auto; /* Allow vertical scrolling */
}

#root {
  width: 467px;
  height: 100vh;
  border: 5px solid black;
  position: relative;
  border-radius: 36px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  overflow-y: auto; /* Allow vertical scrolling */
}
.frameBox::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}


.frameBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

.contentBox {
  width: 90%;
  height: 94vh;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
}

/* -----------------달력 디자인--------------- */
.react-calendar {
  border: 1px solid #eeeeee;
  border-radius: 10px;
}

.react-calendar__tile {
  position: relative;
  height: 60px;
  width: 60px;
  display: inline-flex;
  flex-direction: column;
  align-items: center; /* 가로 - 중앙으로 */
  justify-content: flex-start; /* 세로 - 상단으로 */
}

.react-calendar__tile > div {
  vertical-align: top;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px;
  font-size: 1.2em;
  display: flex;
  justify-self: start;
  /* 콘텐츠 크기 조정 */
}

/* 현재 날짜 */
.react-calendar__tile--now {
  background: #ffeb3b;
  position: relative;
}

/* 선택된 날짜 */

.react-calendar__tile--active {
  background-color: #ffeb3b;
}

.react-calendar__navigation__label__labelText {
  font-size: 1.5rem;
  color: #6667ab;
}

.react-calendar__navigation button {
  color: #6667ab;
}

.react-calendar__month-view__days__day--weekend {
  color: #6667ab;
}

.highlight {
  position: relative;
  top: 5px;
  font-size: 1.5rem;
}

.tile-content {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dot {
  max-width: 1.5rem;
  width: 1.5rem;
  aspect-ratio: 1;

  border-radius: 50%;
  background-color: #6667ab;
  color: white;
  text-align: center;
}
.dot2 {
  max-width: 1.5rem;
  width: 1.5rem;
  aspect-ratio: 1;

  border-radius: 50%;
  background-color: red;
  color: white;
  text-align: center;
}

.date-tile {
  position: relative;
}
